@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap");
.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  font-family: "Poppins", sans-serif;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.button {
  background: rgb(87, 151, 87);
  border: none;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 20px;
}
